@model IEnumerable<HospitalInventory.Models.EquipmentCategory>

@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/LoginPage");
    }
    else if (Session["userRole"].Equals("Staff"))
    {
        Response.Redirect("~/Home/ErrorPage");
    }
}

<style>
    a{
        color: purple;
    }
</style>

<h2 class="text-center" style="font-family: 'Copperplate Gothic'; font-size: x-large">Equipment Category List</h2>
<div class="panel-heading">
    <a style="float:left; font-size:medium" href="@Url.Action("Create", "EquipmentCategories")">Create New Equipment Category</a>
</div>
<br/>
<br/>
<table class="table" border="1" style="border:solid; border-color:gold">
    <tr>
        <th style="text-align: center">
            Equipment Category Name
        </th>
        <th style="text-align: center">
            Equipment Category Is Reusable
        </th>
        <th style="text-align: center">
            Equipment Category Threshold
        </th>
        <th style="text-align: center">
            Operations
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align: center">
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentCategoryName)
            </td>
            <td>
                @if (item.EquipmentCategoryIsReusable)
                {
                    <p>YES</p>
                }
                else
                {
                    <p>NO</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentCategoryThreshold)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EquipmentCategoryId }) |
                @Html.ActionLink("Details", "Index", new { Controller = "Equipments", searchBy = "EquipmentCategoryName", search = item.EquipmentCategoryName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EquipmentCategoryId })
            </td>
        </tr>
    }

</table>
