@model  HospitalInventory.Models.Employee
@{
    ViewBag.Title = "Index";
    Layout = null;
    if (Session["userID"] != null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        body {
            font-size: 14px;
        }

        .simple-login-container {
            width: 300px;
            max-width: 100%;
            margin: 50px auto;
        }

        .simple-login-container h2 {
            text-align: center;
            font-size: 20px;
        }

        .simple-login-container .btn-login {
            background-color: #FF5964;
            color: #fff;
        }

        a{
            color: #fff;
        }

        .field-validation-error {
            color: red;
        }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%)">
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
        <div class="simple-login-container">
            <h2 style="font-size: x-large">Sign In</h2>
            <br>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @placeholder = "Enter username", @class = "form-control", @Value = ViewBag.username } })
                    @Html.ValidationMessageFor(model => model.userName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @placeholder = "Enter password", @class = "form-control", @Value = ViewBag.password } })
                    @Html.ValidationMessageFor(model => model.password, "")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.CheckBoxFor(model => model.RememberMe)
                    @Html.LabelFor(model => model.RememberMe)

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-block btn-login" value="SIGN IN">
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <a href="">Forgot Password?</a>
                </div>
            </div>-->
        </div>
    }
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>