@model HospitalInventory.Models.Equipment

@{
    ViewBag.Title = "Create";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/LoginPage");
    }
    else if (Session["userRole"].Equals("Staff"))
    {
        Response.Redirect("~/Home/ErrorPage");
    }
}

<h2>Create New Equipment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <p>Equipment Name</p>
                @Html.EditorFor(model => model.EquipmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>Equipment Category Name</p>
                @Html.DropDownList("EquipmentCategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>Equipment Total Quantity</p>
                @Html.EditorFor(model => model.EquipmentTotalQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipmentTotalQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>Equipment currently in Use quantity</p>
                @Html.EditorFor(model => model.EquipmentInUseCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipmentInUseCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>Equipment Seller Name (Optional)</p>
                @Html.EditorFor(model => model.EquipmentSellerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipmentSellerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!-- Alert box to display error if equipment with same name is created -->
@if (ViewBag.message != null)
{
    <script>
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
